body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
color: #000;
margin: 20px;
background: #E6E8EA;
text-align: center;
}
a {
color: green;
font-weight: bold;
}
a:hover {
color: black;
background-color: #10BF10
}
h1, h2 {
font-family: Arial, sans-serif;
font-weight: normal;
}
h1 {
margin: 0px;
color: #50B050;
font-weight: bold;
letter-spacing: -2px;
font-size: 2.2em;
border-bottom: 1px solid silver;
padding-bottom: 5px;
}
h2 {
font-size: 1.5em;
border-bottom: 1px solid silver;
padding-bottom: 3px;
clear: both;
}
img {
border: 0px;
}
ol, ul, li {
font-size: 1.0em;
}
strong, b {
font-weight: bold;
}
.content {
text-align: left;
margin-left: auto;
margin-right: auto;
width: 780px;
background-color: #FFFFFF;
border-left: 1px solid Black;
border-right: 1px solid Black;
padding: 12px 30px;
line-height: 150%;
}
.logo {
background: #ffffff url("images/help_background_header.png") repeat-x;
width: 840px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
text-align: left;
border-right: 1px solid black;
border-left: 1px solid black;
}
.footer {
background: #ffffff url("images/help_background_footer.png") repeat-x;
width: 840px;
height: 16px;
margin-left: auto;
margin-right: auto;
text-align: left;
border-right: 1px solid black;
border-left: 1px solid black;
}
.logo img {
padding-left: 0px;
border: none;
position: relative;
top: -4px;
}
* html .content {
width: 760px;
}
* html .logo, * html .footer {
width: 820px;
}
